<!DOCTYPE html>
<html lang="<%= locale %>">

<head>
    <!-- Meta Tags -->
    <title>
        <%= t("meta.title") %>
    </title>
    <%- include('Partials/meta') %>
    <%- include('Partials/links') %>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="90">
    <!--PreLoader-->
    <div class="loader">
        <div class="loader-spinner"></div>
    </div>
    <!--PreLoader Ends-->
    <!-- header -->
    <%- include('Partials/header') %>
        <!-- header -->

        <!--MAIN SLIDER START-->
        <div id="slider-section" class="slider-section">
            <div id="revo_main_wrapper" class="rev_slider_wrapper fullwidthbanner-container m-0 p-0">
                <!-- START REVOLUTION SLIDER 5.4.1 fullwidth mode -->
                <div id="vertical-bullets" class="rev_slider fullwidthabanner white vertical-tpb mar-left he"
                    data-version="5.4.1">
                    <ul>
                        <!-- SLIDE 1 -->

                        <li data-index="rs-01" data-transition="fade" data-slotamount="default"
                            data-easein="Power100.easeIn" data-easeout="Power100.easeOut" data-param1="01">
                            <!-- MAIN IMAGE -->

                            <img src="../assets/images/slider-1.jpg" alt="<%= t('slider.alt') %>"
                                data-bgposition="center left" data-bgfit="fit" data-bgrepeat="no-repeat"
                                data-bgparallax="10" class="rev-slidebg" data-no-retina>


                            <div class="tp-caption tp-resizeme mar" data-x="['right','right','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                                data-voffset="['-130','-90','-90','-90']" data-width="none" data-height="none"
                                data-type="text" data-textAlign="['center','center','center','center']"
                                data-responsive_offset="on" data-start="1100"
                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1100,"to":"o:1;","delay":0,"ease":"Power4.easeInOut"},{"delay":"wait","speed":0,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                                <h2 class="font-22 font-xlight slider-top-text">
                                    <strong>
                                        <%= t("slider.1.top") %>
                                    </strong>
                                </h2>
                            </div>

                            <div class="tp-caption tp-resizeme mar" data-x="['right','right','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                                data-voffset="['-25','20','20','20']" data-width="none" data-height="none"
                                data-type="text" data-textAlign="['right','right','center','center']"
                                data-responsive_offset="on" data-start="1100"
                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1100,"to":"o:1;","delay":0,"ease":"Power4.easeInOut"},{"delay":"wait","speed":0,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                                <h2 class="font-xlight font-60 slider-middle-text">
                                    <span class="bluecolor">
                                        <%= t("slider.1.middle.blue") %>
                                    </span></br>
                                    <span class="redcolor">
                                        <%= t("slider.1.middle.red") %>
                                    </span>
                                </h2>
                            </div>

                            <div class="tp-caption tp-resizeme mar" data-x="['right','right','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                                data-voffset="['110','140','140','140']" data-width="none" data-height="none"
                                data-type="text" data-textAlign="['right','right','center','center']"
                                data-responsive_offset="on" data-start="1100"
                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1100,"to":"o:1;","delay":0,"ease":"Power4.easeInOut"},{"delay":"wait","speed":0,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                                <p class="text-capitalize font-22 slider-top-text font-xlight">
                                    <strong>
                                        <%= t("slider.1.p1") %>
                                    </strong></br>
                                    <strong>
                                        <%= t("slider.1.p2") %>
                                    </strong>
                                </p>
                            </div>

                            <div class="tp-caption tp-resizeme mar" data-x="['right','right','center','center']"
                                data-hoffset="['0','0','0','15']" data-y="['middle','middle','middle','middle']"
                                data-voffset="['190','220','220','220']" data-width="none" data-height="none"
                                data-whitespace="nowrap" data-type="text"
                                data-textAlign="['center','center','center','center']" data-responsive_offset="on"
                                data-start="1100"
                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1100,"to":"o:1;","delay":0,"ease":"Power4.easeInOut"},{"delay":"wait","speed":0,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                                <a href="#about-us" class="btn yellow-blue-btn rounded-pill">
                                    <%= t("slider.cta.freeDemo") %>
                                </a>
                            </div>

                        </li>

                        <!-- SLIDE 2 -->
                        <li data-index="rs-02" data-transition="fade" data-slotamount="default" class="test"
                            data-easein="Power100.easeIn" data-easeout="Power100.easeOut" data-param1="02">
                            <!-- MAIN IMAGE -->
                            <img src="../assets/images/slider-2.jpg" alt="<%= t('slider.alt') %>"
                                data-bgposition="bottom left" data-bgfit="fit" data-bgrepeat="no-repeat"
                                data-bgparallax="10" class="rev-slidebg" data-no-retina>

                            <div class="tp-caption tp-resizeme mar" data-x="['right','right','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                                data-voffset="['-150','-90','-90','-90']" data-width="none" data-height="none"
                                data-type="text" data-textAlign="['center','center','center','center']"
                                data-responsive_offset="on" data-start="1100"
                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1100,"to":"o:1;","delay":0,"ease":"Power4.easeInOut"},{"delay":"wait","speed":0,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                                <h2 class="font-22 font-xlight slider-top-text"><strong>
                                        <%= t("slider.2.top") %>
                                    </strong></h2>
                            </div>

                            <div class="tp-caption tp-resizeme mar" data-x="['right','right','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                                data-voffset="['-15','30','30','30']" data-width="none" data-height="none"
                                data-type="text" data-textAlign="['right','right','center','center']"
                                data-responsive_offset="on" data-start="1100"
                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1100,"to":"o:1;","delay":0,"ease":"Power4.easeInOut"},{"delay":"wait","speed":0,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                                <h1 class="font-xlight font-60 slider-middle-text">
                                    <span class="bluecolor">
                                        <%= t("slider.2.middle.blue.line1") %> <br>
                                            <%= t("slider.2.middle.blue.line2") %>
                                    </span> </br>
                                    <span class="redcolor">
                                        <%= t("slider.2.middle.red") %>
                                    </span>
                                </h1>
                            </div>

                            <div class="tp-caption tp-resizeme mar" data-x="['right','right','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                                data-voffset="['140','190','190','190']" data-width="none" data-height="none"
                                data-type="text" data-textAlign="['right','right','center','center']"
                                data-responsive_offset="on" data-start="1100"
                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1100,"to":"o:1;","delay":0,"ease":"Power4.easeInOut"},{"delay":"wait","speed":0,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                                <p class="text-capitalize font-22 slider-top-text font-xlight">
                                <p class="text-capitalize font-22 slider-top-text font-xlight">
                                    <strong>
                                        <%= t("slider.2.p1") %>
                                    </strong></br>
                                    <strong>
                                        <%= t("slider.2.p2") %>
                                    </strong>
                                </p>
                                </p>
                            </div>

                            <div class="tp-caption tp-resizeme mar" data-x="['right','right','center','center']"
                                data-hoffset="['0','0','0','15']" data-y="['middle','middle','middle','middle']"
                                data-voffset="['250','270','270','270']" data-width="none" data-height="none"
                                data-whitespace="nowrap" data-type="text"
                                data-textAlign="['center','center','center','center']" data-responsive_offset="on"
                                data-start="1100"
                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1100,"to":"o:1;","delay":0,"ease":"Power4.easeInOut"},{"delay":"wait","speed":0,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                                <a href="#about-us" class="btn yellow-blue-btn rounded-pill">
                                    <%= t("slider.cta.freeDemo") %>
                                </a>
                            </div>

                        </li>

                        <!-- SLIDE 3 -->

                        <li data-index="rs-03" data-transition="fade" data-slotamount="default"
                            data-easein="Power100.easeIn" data-easeout="Power100.easeOut" data-param1="03">
                            <!-- MAIN IMAGE -->
                            <img src="../assets/images/slider-3.jpg" alt="<%= t('slider.alt') %>"
                                data-bgposition="center left" data-bgfit="fit" data-bgrepeat="no-repeat"
                                data-bgparallax="10" class="rev-slidebg" data-no-retina>



                            <div class="tp-caption tp-resizeme mar" data-x="['right','right','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                                data-voffset="['-130','-90','-90','-90']" data-width="none" data-height="none"
                                data-type="text" data-textAlign="['center','center','center','center']"
                                data-responsive_offset="on" data-start="1100"
                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1100,"to":"o:1;","delay":0,"ease":"Power4.easeInOut"},{"delay":"wait","speed":0,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                                <h2 class="font-22 font-xlight slider-top-text"><strong>
                                        <%= t("slider.3.top") %>
                                    </strong></h2>

                            </div>

                            <div class="tp-caption tp-resizeme mar" data-x="['right','right','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                                data-voffset="['-25','20','20','20']" data-width="none" data-height="none"
                                data-type="text" data-textAlign="['right','right','center','center']"
                                data-responsive_offset="on" data-start="1100"
                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1100,"to":"o:1;","delay":0,"ease":"Power4.easeInOut"},{"delay":"wait","speed":0,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                                <h2 class="font-xlight font-60 slider-middle-text">
                                    <span class="bluecolor">
                                        <%= t("slider.3.middle.blue") %>
                                    </span> </br>
                                    <span class="redcolor">
                                        <%= t("slider.3.middle.red") %>
                                    </span>
                                </h2>
                            </div>

                            <div class="tp-caption tp-resizeme mar" data-x="['right','right','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                                data-voffset="['110','160','180','170']" data-width="none" data-height="none"
                                data-type="text" data-textAlign="['right','right','center','center']"
                                data-responsive_offset="on" data-start="1100"
                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1100,"to":"o:1;","delay":0,"ease":"Power4.easeInOut"},{"delay":"wait","speed":0,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                                <p class="text-capitalize font-22 slider-top-text font-xlight">
                                    <strong>
                                        <%= t("slider.3.p1") %>
                                    </strong></br>
                                    <strong>
                                        <%= t("slider.3.p2") %>
                                    </strong>
                                    <%= t("slider.3.pTail") %>
                                </p>
                            </div>

                            <div class="tp-caption tp-resizeme mar" data-x="['right','right','center','center']"
                                data-hoffset="['0','0','0','15']" data-y="['middle','middle','middle','middle']"
                                data-voffset="['220','270','270','270']" data-width="none" data-height="none"
                                data-whitespace="nowrap" data-type="text"
                                data-textAlign="['center','center','center','center']" data-responsive_offset="on"
                                data-start="1100"
                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1100,"to":"o:1;","delay":0,"ease":"Power4.easeInOut"},{"delay":"wait","speed":0,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                                <a href="#about-us" class="btn yellow-blue-btn rounded-pill">
                                    <%= t("slider.cta.seeDetails") %>
                                </a>
                            </div>
                        </li>

                        <!-- SLIDE 4 -->

                        <li data-index="rs-04" data-transition="fade" data-slotamount="default"
                            data-easein="Power100.easeIn" data-easeout="Power100.easeOut" data-param1="04">
                            <!-- MAIN IMAGE -->
                            <img src="../assets/images/slider-4.jpg" alt="<%= t('slider.alt') %>"
                                data-bgposition="center left" data-bgfit="fit" data-bgrepeat="no-repeat"
                                data-bgparallax="10" class="rev-slidebg" data-no-retina>


                            <img src="../assets/images/slider-4.jpg" alt="Cafenux Cafeterya Yönetim Sistemi"
                                data-bgposition="center left" data-bgfit="fit" data-bgrepeat="no-repeat"
                                data-bgparallax="10" class="rev-slidebg" data-no-retina>

                            <div class="tp-caption tp-resizeme mar" data-x="['right','right','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                                data-voffset="['-130','-90','-90','-90']" data-width="none" data-height="none"
                                data-type="text" data-textAlign="['center','center','center','center']"
                                data-responsive_offset="on" data-start="1100"
                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1100,"to":"o:1;","delay":0,"ease":"Power4.easeInOut"},{"delay":"wait","speed":0,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                                <h2 class="font-22 font-xlight slider-top-text"><strong>
                                        <%= t("slider.4.top") %>
                                    </strong></h2>

                            </div>

                            <div class="tp-caption tp-resizeme mar" data-x="['right','right','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                                data-voffset="['-25','20','20','20']" data-width="none" data-height="none"
                                data-type="text" data-textAlign="['right','right','center','center']"
                                data-responsive_offset="on" data-start="1100"
                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1100,"to":"o:1;","delay":0,"ease":"Power4.easeInOut"},{"delay":"wait","speed":0,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                                <h2 class="font-xlight font-60 slider-middle-text">
                                    <span class="bluecolor">
                                        <%= t("slider.4.middle.blue") %>
                                    </span> </br>
                                    <span class="redcolor">
                                        <%= t("slider.4.middle.red") %>
                                    </span>
                                </h2>
                            </div>

                            <div class="tp-caption tp-resizeme mar" data-x="['right','right','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                                data-voffset="['130','170','170','170']" data-width="none" data-height="none"
                                data-type="text" data-textAlign="['right','right','center','center']"
                                data-responsive_offset="on" data-start="1100"
                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1100,"to":"o:1;","delay":0,"ease":"Power4.easeInOut"},{"delay":"wait","speed":0,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                                <p class="text-capitalize font-22 slider-top-text font-xlight">
                                    <strong>
                                        <%= t("slider.4.p1") %>
                                    </strong></br>
                                    <strong>
                                        <%= t("slider.4.p2") %>
                                    </strong>
                                    <%= t("slider.4.pTail") %>
                                </p>
                            </div>

                            <div class="tp-caption tp-resizeme mar" data-x="['right','right','center','center']"
                                data-hoffset="['0','0','0','15']" data-y="['middle','middle','middle','middle']"
                                data-voffset="['220','270','270','270']" data-width="none" data-height="none"
                                data-whitespace="nowrap" data-type="text"
                                data-textAlign="['center','center','center','center']" data-responsive_offset="on"
                                data-start="1100"
                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1100,"to":"o:1;","delay":0,"ease":"Power4.easeInOut"},{"delay":"wait","speed":0,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                                <a href="#about-us" class="btn yellow-blue-btn rounded-pill">
                                    <%= t("slider.cta.freeDemo") %>
                                </a>
                            </div>

                        </li>
                    </ul>
                </div>

            </div>

            <div class="svg-slider-bottom-holder">
                <div class="svg-slider-bottom"></div>
            </div>

            <ul class="social-icons social-icons-simple revicon white d-none d-md-block d-lg-block">
                <li class="d-table"><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a> </li>
                <li class="d-table"><a href="javascript:void(0)"><i class="fab fa-twitter"></i> </a> </li>
                <li class="d-table"><a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i> </a> </li>
                <li class="d-table"><a href="javascript:void(0)"><i class="fab fa-instagram"></i> </a> </li>
            </ul>
        </div>
        <!--Main SLIDER END -->

        <!--Some Services-->
        <div class="container" style="padding-top: 200px;">
            <div class="row">
                <div class="col-md-12">
                    <div id="services-slider" class="owl-carousel">

                        <!-- Service 1 -->
                        <div class="item">
                            <div class="service-box bg-orange">
                                <span class="bottom25"><i class="fas fa-cubes"></i></span>
                                <h4 class="bottom10 text-nowrap">
                                    <a href="javascript:void(0)" class="font-22">
                                        <%= t("services.1.title") %>
                                    </a>
                                </h4>
                                <p>
                                    <%= t("services.1.desc") %>
                                </p>
                            </div>
                        </div>

                        <!-- Service 2 -->
                        <div class="item">
                            <div class="service-box bg-red">
                                <span class="bottom25"><i class="fas fa-users"></i></span>
                                <h4 class="bottom10">
                                    <a href="javascript:void(0)" class="font-22">
                                        <%= t("services.2.title") %>
                                    </a>
                                </h4>
                                <p>
                                    <%= t("services.2.desc") %>
                                </p>
                            </div>
                        </div>

                        <!-- Service 3 -->
                        <div class="item">
                            <div class="service-box bg-green">
                                <span class="bottom25"><i class="fa fa-chart-bar"></i></span>
                                <h4 class="bottom10">
                                    <a href="javascript:void(0)" class="font-22">
                                        <%= t("services.3.title") %>
                                    </a>
                                </h4>
                                <p>
                                    <%= t("services.3.desc") %>
                                </p>
                            </div>
                        </div>

                        <!-- Service 4 -->
                        <div class="item">
                            <div class="service-box bg-pink">
                                <span class="bottom25"><i class="fa fa-mobile"></i></span>
                                <h4 class="bottom10">
                                    <a href="javascript:void(0)" class="font-22">
                                        <%= t("services.4.title") %>
                                    </a>
                                </h4>
                                <p>
                                    <%= t("services.4.desc") %>
                                </p>
                            </div>
                        </div>

                        <!-- Service 5 -->
                        <div class="item">
                            <div class="service-box bg-blue">
                                <span class="bottom25"><i class="fas fa-pen"></i></span>
                                <h4 class="bottom10">
                                    <a href="javascript:void(0)" class="font-22">
                                        <%= t("services.5.title") %>
                                    </a>
                                </h4>
                                <p>
                                    <%= t("services.5.desc") %>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--Some Services ends-->
        <!--Some Feature -->
        <section id="about" class="single-feature padding mt-n5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7 col-sm-12">
                        <div class="heading-title bottom30 wow fadeInLeft" data-wow-delay="200ms">
                            <h2 class="bottom30 darkcolor font-normal text-center text-md-left">
                                <%= t("about.title") %>
                            </h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5 col-sm-12 wow fadeInRight" data-wow-delay="200ms">
                        <p class="heading_space mt-n3 mt-sm-0 text-center text-md-left">
                            <%= t("about.description") %>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!--Some Feature ends-->
        <!-- WOrk Process-->
        <section id="our-process" class="padding bg-red">
            <div class="svg-process-top-holder">
                <div class="svg-process-top"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <div class="heading-title whitecolor wow fadeInUp" data-wow-delay="300ms">
                            <span>
                                <%= t("process.subtitle") %>
                            </span>
                            <h2 class="font-normal">
                                <%= t("process.title") %>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul class="process-wrapp">

                        <li class="whitecolor wow fadeIn" data-wow-delay="300ms">
                            <span class="pro-step bottom20">01</span>
                            <p class="fontbold bottom20">
                                <%= t("process.steps.1.title") %>
                            </p>
                            <p class="mt-n2 mt-sm-0">
                                <%= t("process.steps.1.desc") %>
                            </p>
                        </li>

                        <li class="whitecolor wow fadeIn" data-wow-delay="400ms">
                            <span class="pro-step bottom20">02</span>
                            <p class="fontbold bottom20">
                                <%= t("process.steps.2.title") %>
                            </p>
                            <p class="mt-n2 mt-sm-0">
                                <%= t("process.steps.2.desc") %>
                            </p>
                        </li>

                        <li class="whitecolor wow fadeIn active" data-wow-delay="500ms">
                            <span class="pro-step bottom20">03</span>
                            <p class="fontbold bottom20">
                                <%= t("process.steps.3.title") %>
                            </p>
                            <p class="mt-n2 mt-sm-0">
                                <%= t("process.steps.3.desc") %>
                            </p>
                        </li>

                        <li class="whitecolor wow fadeIn" data-wow-delay="600ms">
                            <span class="pro-step bottom20">04</span>
                            <p class="fontbold bottom20">
                                <%= t("process.steps.4.title") %>
                            </p>
                            <p class="mt-n2 mt-sm-0">
                                <%= t("process.steps.4.desc") %>
                            </p>
                        </li>

                        <li class="whitecolor wow fadeIn" data-wow-delay="700ms">
                            <span class="pro-step bottom20">05</span>
                            <p class="fontbold bottom20">
                                <%= t("process.steps.5.title") %>
                            </p>
                            <p class="mt-n2 mt-sm-0">
                                <%= t("process.steps.5.desc") %>
                            </p>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="svg-process-bottom-holder">
                <div class="svg-process-bottom"></div>
            </div>
        </section>

        <!--WOrk Process ends-->
        <!-- Mobile Apps -->

        <section id="our-apps" class="padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7 col-sm-12">
                        <div class="heading-title bottom30 wow fadeInLeft" data-wow-delay="200ms">
                            <span class="defaultcolor text-center text-md-left">
                                <%= t("apps.subtitle") %>
                            </span>
                            <h2 class="bottom30 darkcolor font-normal text-center text-md-left">
                                <%= t("apps.title") %>
                            </h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5 col-sm-12 wow fadeInRight" data-wow-delay="200ms">
                        <p class="heading_space mt-n3 mt-sm-0 text-center text-md-left">
                            <%= t("apps.description") %>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!--Mobile Apps ends-->
        <!-- Counters -->
        <section id="bg-counters" class="padding bg-counters bg-orange">
            <div class="svg-counter-top-holder">
                <div class="svg-counter-top"></div>
            </div>
            <div class="container">
                <div class="row padding-top-half">

                    <!-- Plan 1 -->
                    <div class="col-12 col-lg-4 wow fadeInLeftBig" data-wow-delay=".4s">
                        <div class="price-item text-center bg-white">
                            <div class="price_header">
                                <p class="price_header_text text-white">
                                    <%= t("plans.choice.0.name") %>
                                </p>
                            </div>
                            <p class="actual_price">
                                <%= t("plans.choice.0.price") %><br>
                                    <span class="small_font">
                                        <%= t("plans.choice.0.duration") %>
                                    </span>
                            </p>
                            <ul class="price-list">
                                <li>
                                    <%= t("plans.choice.0.features.0") %>
                                </li>
                                <li>
                                    <%= t("plans.choice.0.features.1") %>
                                </li>
                                <li>
                                    <%= t("plans.choice.0.features.2") %>
                                </li>
                                <li>
                                    <%= t("plans.choice.0.features.3") %>
                                </li>
                                <li>
                                    <%= t("plans.choice.0.features.4") %>
                                </li>
                                <li>
                                    <%= t("plans.choice.0.features.5") %>
                                </li>
                                <li>
                                    <%= t("plans.choice.0.features.6") %>
                                </li>
                            </ul>
                            <a href="#" class="m-5 scroll btn btn-medium btn-rounded btn-primary mb-5">
                                <%= t("plans.cta") %>
                            </a>
                        </div>
                    </div>

                    <!-- Plan 2 -->
                    <div class="col-12 col-lg-4 wow fadeIn" data-wow-delay=".8s">
                        <div class="price-item text-center bg-white">
                            <div class="price_header">
                                <p class="price_header_text text-white">
                                    <%= t("plans.choice.1.name") %>
                                </p>
                            </div>
                            <p class="actual_price">
                                <%= t("plans.choice.1.price") %><br>
                                    <span class="small_font">
                                        <%= t("plans.choice.1.duration") %>
                                    </span>
                            </p>
                            <ul class="price-list">
                                <li>
                                    <%= t("plans.choice.1.features.0") %>
                                </li>
                                <li>
                                    <%= t("plans.choice.1.features.1") %>
                                </li>
                                <li>
                                    <%= t("plans.choice.1.features.2") %>
                                </li>
                                <li>
                                    <%= t("plans.choice.1.features.3") %>
                                </li>
                                <li>
                                    <%= t("plans.choice.1.features.4") %>
                                </li>
                                <li>
                                    <%= t("plans.choice.1.features.5") %>
                                </li>
                                <li>
                                    <%= t("plans.choice.1.features.6") %>
                                </li>
                            </ul>
                            <a href="#" class="m-5 scroll btn btn-medium btn-rounded btn-primary mb-5">
                                <%= t("plans.cta") %>
                            </a>
                        </div>
                    </div>

                    <!-- Plan 3 -->
                    <div class="col-12 col-lg-4 wow fadeInRightBig" data-wow-delay=".4s">
                        <div class="price-item text-center bg-white">
                            <div class="price_header">
                                <p class="price_header_text text-white">
                                    <%= t("plans.choice.2.name") %>
                                </p>
                            </div>
                            <p class="actual_price">
                                <%= t("plans.choice.2.price") %><br>
                                    <span class="small_font">
                                        <%= t("plans.choice.2.duration") %>
                                    </span>
                            </p>
                            <ul class="price-list">
                                <li>
                                    <%= t("plans.choice.2.features.0") %>
                                </li>
                                <li>
                                    <%= t("plans.choice.2.features.1") %>
                                </li>
                                <li>
                                    <%= t("plans.choice.2.features.2") %>
                                </li>
                                <li>
                                    <%= t("plans.choice.2.features.3") %>
                                </li>
                                <li>
                                    <%= t("plans.choice.2.features.4") %>
                                </li>
                                <li>
                                    <%= t("plans.choice.2.features.5") %>
                                </li>
                                <li>
                                    <%= t("plans.choice.2.features.6") %>
                                </li>
                            </ul>
                            <a href="#" class="m-5 scroll btn btn-medium btn-rounded btn-primary mb-5">
                                <%= t("plans.cta") %>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="svg-counter-bottom-holder">
                <div class="svg-counter-bottom"></div>
            </div>
        </section>

        <!-- Counters ends-->
        <!-- Our Team-->
        <section id="our-team" class="padding_top padding_bottom half-section-alt teams-border">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="heading-title wow fadeInLeft" data-wow-delay="200ms">
                            <h2 class="darkcolor font-normal bottom30 text-center text-md-left">
                                <%= t("gallery.title") %>
                            </h2>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="ourteam-slider" class="owl-carousel">
                            <div class="item">
                                <div class="team-box wow fadeInUp p-1" data-wow-delay="150ms">
                                    <div class="image">
                                        <a href="../assets/images/team-1.jpg" data-fancybox>
                                            <img src="../assets/images/team-1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="team-content">
                                        <h4 class="darkcolor">
                                            <%= t("gallery.members.0.name") %>
                                        </h4>
                                        <p>
                                            <%= t("gallery.members.0.role") %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="team-box wow fadeInUp p-1" data-wow-delay="200ms">
                                    <div class="image">
                                        <a href="../assets/images/team-2.jpg" data-fancybox>
                                            <img src="../assets/images/team-2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="team-content">
                                        <h4 class="darkcolor">
                                            <%= t("gallery.members.1.name") %>
                                        </h4>
                                        <p>
                                            <%= t("gallery.members.1.role") %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="team-box wow fadeInUp p-1" data-wow-delay="250ms">
                                    <div class="image">
                                        <a href="../assets/images/team-3.jpg" data-fancybox>
                                            <img src="../assets/images/team-3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="team-content">
                                        <h4 class="darkcolor">
                                            <%= t("gallery.members.2.name") %>
                                        </h4>
                                        <p>
                                            <%= t("gallery.members.2.role") %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="team-box wow fadeInUp p-1" data-wow-delay="300ms">
                                    <div class="image">
                                        <a href="../assets/images/team-4.jpg" data-fancybox>
                                            <img src="../assets/images/team-4.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="team-content">
                                        <h4 class="darkcolor">
                                            <%= t("gallery.members.3.name") %>
                                        </h4>
                                        <p>
                                            <%= t("gallery.members.3.role") %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="svg-team-bottom-holder">
                <div class="svg-team-bottom"></div>
            </div>
        </section>
        <!-- Our Team ends-->

        <section class="bglight padding_bottom">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6 col-md-7 col-sm-12">
                        <div class="heading-title bottom30">
                            <h2 class="bottom30 darkcolor font-normal text-center text-md-left">
                                <%= t("about_more.sections.0.title") %>
                            </h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5 col-sm-12">
                        <p class="heading_space mt-n3 mt-sm-0 text-center text-md-left">
                            <%= t("about_more.sections.0.text") %>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-7 col-sm-12">
                        <div class="heading-title bottom30">
                            <h2 class="bottom30 darkcolor font-normal text-center text-md-left">
                                <%= t("about_more.sections.1.title") %>
                            </h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5 col-sm-12">
                        <p class="heading_space mt-n3 mt-sm-0 text-center text-md-left">
                            <%= t("about_more.sections.1.text") %>
                        </p>
                    </div>
                </div>

            </div>
        </section>

        <!--
        <section id="stayconnect" class="bglight position-relative">
            <div class="container">
                <div class="contactus-wrapp">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="heading-title wow fadeInUp text-center text-md-left" data-wow-delay="300ms"
                                style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
                                <h3 class="darkcolor bottom20 font-bold">Lets Get In Touch</h3>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <form class="getin_form wow fadeInUp" data-wow-delay="400ms" onsubmit="return false;"
                                style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12" id="result"></div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="form-group">
                                            <label for="userName" class="d-none"></label>
                                            <input class="form-control" type="text" placeholder="Name" required=""
                                                id="userName" name="userName">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="form-group">
                                            <label for="companyName" class="d-none"></label>
                                            <input class="form-control" type="text" placeholder="Company"
                                                id="companyName" name="companyName">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="form-group">
                                            <label for="email" class="d-none"></label>
                                            <input class="form-control" type="email" placeholder="Email" required=""
                                                id="email" name="email">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <button type="submit" class="btn yellow-blue-btn rounded-pill  w-100"
                                            id="submit_btn">Call Back</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        -->

        <%- include('Partials/footer') %>

</body>

</html>