<!DOCTYPE html>
<html lang="<%= locale %>">

<head>
    <!-- Meta Tags -->
    <title>
        <%= t("meta.title") %>
    </title>
    <%- include('Partials/meta') %>
    <%- include('Partials/links') %>

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="90">
    <!--PreLoader-->
    <div class="loader">
        <div class="loader-spinner"></div>
    </div>
    <!--PreLoader Ends-->
    <!-- header -->
    <%- include('Partials/header') %>
        <!-- header -->
        <!--MAIN SLIDER START-->
        <div id="slider-section" class="slider-section center-form d-flex justify-content-center">
            <!-- START REVOLUTION SLIDER 5.4.1 fullwidth mode -->

            <ul class="bg">
                <li>
                    <div class="tp-caption tp-resizeme"
                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1100,"to":"o:1;","delay":0,"ease":"Power4.easeInOut"},{"delay":"wait","speed":0,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        <form action="login" method="POST" id="loginForm">
                            <h1>
                                <%= t("login.title") %>
                            </h1>
                            <br>
                            <input type="text" name="user" id="user" placeholder="<%= t('login.form.user') %>" />
                            <br>
                            <input type="password" name="pass" id="pass"
                                placeholder="<%= t('login.form.password') %>" />
                            <div class="g-recaptcha" data-sitekey="6LddaFEpAAAAADXr840wRKNxCnStfq-VHXfaevWX"></div>
                            <br>
                            <input type="submit" value="<%= t('login.form.submit') %>" />

                            <div class="output-message">
                                <% if (typeof success !="undefined" && success) { %>
                                    <div class="success">
                                        <p>
                                            <%= message %>
                                        </p>
                                    </div>
                                    <% } else if (typeof success !="undefined" && !success) { %>
                                        <div class="error">
                                            <p>
                                                <%= message %>
                                            </p>
                                        </div>
                                        <% } %>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>

            <ul class="social-icons social-icons-simple white d-none d-md-block d-lg-block social-left">
                <li class="d-table"><a href="javascript:void(0)"><i class="i-col fab fa-facebook-f"></i></a> </li>
                <li class="d-table"><a href="javascript:void(0)"><i class="i-col fab fa-twitter"></i> </a> </li>
                <li class="d-table"><a href="javascript:void(0)"><i class="i-col fab fa-linkedin-in"></i> </a> </li>
                <li class="d-table"><a href="javascript:void(0)"><i class="i-col fab fa-instagram"></i> </a> </li>
            </ul>
        </div>
        <!--Main SLIDER END -->
        <%- include('Partials/footer') %>
            <script src="/script.js"></script>
</body>

</html>